
body {
  background-color: #000 !important;
  overflow: hidden;
  /*background :#fff;*/
}

a {
  text-decoration: none;
  /*color: #eee;*/
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project {
	z-index: 1;
	padding-top: 120px;
	/*background: #333;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*position: relative;*/
  align-items: center;
  justify-content: center;
  }
  .project__list {
  	  list-style-type: none;
  	width: 300px;
  	margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 36px;
    color: #ddd;
  }
  
  .project__link {
    will-change: opacity;
    display: block;
    margin: 24px 0;
  }
  
  .project__bg-list {
  	margin-left:  0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .project__bg-item {

  	z-index: 0;
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .active {
    	margin-top: 50px;
      opacity: 1;
      transform: scale(1);
    }
    
    .project__bg-item:nth-child(1) {
      background: url('../image/danang.jpg') center/cover;
    }
    
    .project__bg-item:nth-child(2) {
      background: url('../image/quangnam.jpg') center/cover;
    }
    
    .project__bg-item:nth-child(3) {
      background: url('../image/hanoi.jpg') right center/cover;
    }
    
    .project__bg-item:nth-child(4) {
      background: url('../image/hue.jpg') center/cover;
      /*background-position: 500px 600px;*/
    }
    .project__bg-item:nth-child(5) {
      background: url('../image/hochiminh.jpg') center/cover;
    }
.project__item a{
	text-decoration: none;
	color: #fff;
	  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-weight: 800;
}
.project__item a:hover{
	text-decoration:  none;
	color: #fff;
}