body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(../image/login.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(40% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #f10404;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.text_input {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 10px;
}

.text_input : focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.8);
}

.login-button{
	width: 260px;
	height: 35px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
    padding: 10px 30px;
    background: linear-gradient(#27ae60, #2FDE7B);
    color: #fff;
    border: hidden;
    border-radius: 5px;
}

.login-button:hover, .login-button:focus{
    border: 1px solid;
    box-shadow: inset 0 0 2px rgba(200, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    background: linear-gradient(#27ae60, #50E18F);
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.8);
}